<hr>
  <h3> Address #<%= address_counter + 1 %> </h3>
<p>
  <b>Street:</b>
  <%= h address.street %>
</p>

<p>
  <b>City:</b>
  <%= h address.city %>
</p>

<p>
  <b>State:</b>
  <%= h address.state%>
</p>

<p>
  <b>Zip:</b>
  <%= h address.zip %>
</p>