<% form_for(@person) do |f| %>
  <%= f.error_messages %>

  <div class="column_container">
    <p>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </p>

    <p>
      <%= f.label :middle_name %>
      <%= f.text_field :middle_name %>
    </p>

    <p>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </p>

    <% n = 0 %>
    <% f.fields_for :addresses do |builder| %>
      <%= render 'address_fields', :f => builder %>
    <% end %>
    <p>
      <%= link_to_add_fields "Add Address", f, :addresses %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  </div>
<% end %>

<%= link_to 'Back', people_path %>