<% form_for(@person) do |f| %>
  <%= f.error_messages %>

  <div class="column_container">
  <p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :middle_name %>
    <%= f.text_field :middle_name %>
  </p>
  <p>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </p>
  <% n = 0 %>
  <% f.fields_for :addresses do |builder| %>
    <hr/>
    <p>
      <% n += 1 %>
      <%= "Address #{n}" %>
    </p>
    <p>
      <%= builder.label :street %>
      <%= builder.text_field :street %>
    </p>
    <p>
      <%= builder.label :city %>
      <%= builder.text_field :city %>
    </p>
    <p>
      <%= builder.label :state %>
      <%= builder.text_field :state %>
    </p>
    <p>
      <%= builder.label :zip %>
      <%= builder.text_field :zip %>
    </p>
  <% end %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
</div>

<%= link_to 'Back', people_path %>