<p>
  <b>First name:</b>
  <%= h @person.first_name %>
</p>

<p>
  <b>Middle name:</b>
  <%= h @person.middle_name %>
</p>

<p>
  <b>Last name:</b>
  <%= h @person.last_name %>
</p>

<h3>Items</h3>
<ul>
  <% @items.each do |item| %>
    <li> <%= item.name %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>